.Home__Loading__Screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}
.Home__Head__Image {
    background-image: url("../Assets/Ghent-CoverImage.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -60px;
}

.Home__Container h1{
    font-size: 3.3rem;
    font-weight: bold;
}

.Home__Head__Image__Text {
    position: absolute;
    color: white;
    background-color: black;
    padding: 10px 20px;
}

.Home__Container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Home__Wrapper {
    width: 100%;
    max-width: 650px;
    padding: 0 10px;
    box-sizing: border-box;
    padding: 20px 20px;
    cursor: default;
}

.Blog__Posts h2 {
    font-size: 3rem;
    margin-top: 0;
    color: rgb(54, 54, 54);
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.Blog__Posts h3 {
    font-size: 2.1rem;
}

.Blog__Post {
    margin-bottom: 45px;
}

.Blog__Post__Title {
    margin: 0;
    padding: 0;
    color: rgb(54, 54, 54);
}

.Blog__Post__Title:hover {
    color: rgb(0, 128, 233);
}

.Blog__Post__Details {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(117, 117, 117);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .Home__Head__Image__Text {
        margin: 0 10px;
    }

    .Home__Head__Image__Text h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 500px) {
    .Home__Head__Image__Text h1 {
        font-size: initial;
    }
}