.Blog__Loading__Screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.Blog__Head__Image {
    /*background-image: url("../Assets/Ghent-CoverImage.jpg");*/
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -60px;
}

.Blog__Head__Image__Text {
    position: absolute;
    color: White;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.Blog__Head__Image__Text > div {
    width: 100%;
    max-width: 600px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.Blog__Container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Blog__Wrapper {
    width: 100%;
    max-width: 650px;
    padding: 0 10px;
    box-sizing: border-box;
    padding: 20px 20px;
    cursor: default;
}

.Blog__Posts h3 {
    font-size: 2.1rem;
}

.Blog__Post {
    margin-bottom: 45px;
}

.Blog__Title {
    font-size: 3.3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.Blog__Post__Item__Title {
    margin: 0;
    padding: 0;
    color: rgb(54, 54, 54);
}

.Blog__Details {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .Blog__Head__Image__Text {
        margin: 0 10px;
    }

    .Blog__Title {
        font-size: 2.8rem;
    }

    .Blog__Head__Image__Text > div {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 500px) {
    .Blog__Title {
        font-size: 2.2rem;
    }
}