.footer__container {
    margin-top: 6rem;
    padding: 0 10px;
    height: 60px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 10;
  }

  .footer__container p {
      cursor: pointer;
      text-decoration: underline;
  }
  