.header__container {
  overflow: hidden;
  padding: 0 10px;
  height: 60px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  z-index: 10;
}

.header__wrapper {
    width: 100%;
    max-width: 1200px;
}

.header__wrapper a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header__wrapper a.logo {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header__wrapper a {
    float: none;
    display: block;
    text-align: center;
  }
}