@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
